html {
	font-family: 'Montserrat', sans-serif;
	margin: 1rem;
	background-color: #F4FAEE;
	color: #071013;
}

section {
	margin-bottom: 0;
	margin-top: 2rem;
	padding: 2rem;
	border-bottom: 0.05rem solid black;
}

a {
	color: #709775;
}

a:hover, a:active, a:focus {
	background-color: #709775;
	color: #FFFFFF;
}

p {
	max-width: 70rem;
	font-size: 0.9rem;
}

h1 {
	color: #1A281F;
	font-size: 1.5rem;
}

h2 {
	color: #345F39;
	font-size: 1.3rem;
}

h3 {
	color: #709775;
	font-weight: 400;
	font-size: 0.9rem;
}

h4 {
	color: #1A281F;
}

.code-block {
	display: block;
	background-color: #CCCCCC;
	padding: 1rem;
}

.main-nav-bar {
	box-sizing: border-box;
	background-color: black;
	padding: 2rem;
}

.box {
	display: inline-block;
	width: 5rem;
	height: 5rem;
}

.submit-button {
	border: none;
	text-decoration: none;
	font-weight: 600;
	padding: 1rem 2.5rem;
	background-color: #709775;
	color: white;
	border-radius: 2rem
}

.swatch-one {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #535353;
	border-width: 0.05rem;
}

.swatch-two {
	background-color: #C4D4C6;
}

.swatch-three {
	background-color: #709775;
}

.swatch-four {
	background-color: #345F39;
}

.swatch-five {
	background-color: #1A281F;
}

.swatch-six {
	background-color: #5EC16B;
}

.grid-container {
	display: flex;
	flex-direction: row;
}

.grid-box {
	flex-basis: 100%;
	flex: 1;
	height: 14rem;
	margin: 0.25rem;
	background-color: #709775; 
}

#logo {
	float: left;
	padding-top: 1.5rem;
	padding-left: 2rem;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	color: white;
}

#horizontal-nav-bar {
	background-color: #709775;
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

.nav-bar-item {
  display: block;
  float: right;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 0.25rem solid transparent;
  color: white;
}

.nav-bar-item:hover, .nav-bar-item:active, .nav-bar-item:focus {
	border-bottom: 0.25rem solid #345F39;
	color: white;
}

.product-info {
	float: right;
	margin: 4rem;
	margin-top: 0rem;
	max-width: 40rem;
}

.add-to-cart-button {
	float: right;
	border: none;
	text-decoration: none;
	font-weight: 600;
	padding: 0.85rem 3rem;
	background-color: #709775;
	color: white;
	border-radius: 2rem;
}

.add-to-cart-button:hover, .add-to-cart-button:active, .add-to-cart-button:focus {
	background-color: #345F39;
}

.your-shopping-cart {
	overflow: auto; /*From W3Schools*/
	max-height: 30rem;
	width: 40rem;
	background-color: #FFFFFF;
}

.item-listing {
	display: block;
	margin: 1rem;
}

.cart-info {
	margin: 0rem 3rem;
}

.check-out-button {
	float: right;
	border: none;
	text-decoration: none;
	font-weight: 600;
	padding: 1rem 2.5rem;
	background-color: #709775;
	color: white;
	border-radius: 2rem
}

.check-out-button:hover, .check-out-button:active, .check-out-button:focus {
	background-color: #345F39;
}