*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Skip link */ 
.skip-to-main {
    top: -50%;
    position: absolute;
    transform: translateY(-100%);
}


html {
    /*background-color: #F4FAEE;*/
    background-color: #FFFFFF;
	color: #071013;
    /*changes all text into double spaced*/
    line-height: 2rem;
}

h1 {
    text-align: center;
    color: #1A281F;
    font-size: 2rem;
}

h2 {
    color: #345F39;
    font-size: 1.3rem;
}

h3 {
    color: #709775;
    font-weight: 400;
    font-size: 0.9rem;
}

h4 {
    color: #1A281F;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.page-header {
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
}

@media screen and (max-width: 480px) {
    .sticky {
        position: static;
        top: auto;
    }
}

.filters button, .shipping-information button, .vertical-order-summary button, .shipping-method button{
    color: #FFFFFF;
    background-color: #709775;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
    padding-left: .25em;
    padding-right: .25em;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
}

/* Nav Styling*/

nav {
    background-color: #709775;
}

#logo {
    display: block;
	padding: 0 30px;
	float: left;
	font-size:1.875em;
    line-height: 60px;
    color: #f2f2f2;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}

nav ul li {
	margin: 0px;
    float: left;
    z-index: 1000000;
}

nav a {
	display:block;
	padding:14px 20px;	
    color: #f2f2f2;
    font-size: 1.2em;
    background-color: #709775;
	font-size:1.0625em;
    text-decoration:none;
    border-bottom: 0.25em solid transparent;
}

.toggle, [id^=drop] {
	display: none;
}

nav a:hover, nav a:focus {
    border-bottom: 0.25em solid #345F39;
    color: white;
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}

nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

@media screen and (max-width: 480px) {
    #logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
    }
    
    nav {
		margin: 0;
    }
    
    .toggle + a, .menu {
		display: none;
    }
    
    .toggle {
		display: block;
		background-color: #709775;
		padding:14px 20px;	
		color: #f2f2f2;
		font-size:1.0625em;
		text-decoration:none;
		border:none;
    }
    
    .toggle:hover {
		border-bottom: 0.25em solid #345F39;
        color: white;
    }
    
    #desktop-shop {
        display: none;
    }

    [id^=drop]:checked + ul {
		display: block;
    }
    
    nav ul li {
		display: block;
		width: 100%;
    }
    
    nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}
    
    nav a:hover {
		border-bottom: 0.25em solid #345F39;
        color: white;
    }
    
    nav ul li ul li .toggle,
	nav ul ul a {
		padding:14px 20px;	
		color:#FFF;
		font-size:1.0625em; 
    }
    
    nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #345F39; 
    }
    
    nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
    }

    nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
    }

    nav ul ul li {
		display: block;
		width: 100%;
	}
}

/* Wayfinding Styling */

.wayfinding {
    padding-left: 3em;
    padding-top: 2em;
    font-weight: 500;
    width: 100%;
}

.wayfinding .current {
    font-weight: 600;
    color: #071013;
}

.wayfinding i {
    margin-right: 2.5px;
}

.wayfinding-item, .wayfinding .current i {
    text-decoration: none;
    margin-right: 10px;
    color: #8C8C8C;
}

.wayfinding a:not(.current):hover, .wayfinding a:not(.current):focus, .wayfinding a:not(.current):active {
    color: #071013;
    transition: ease-in-out;
}

@media screen and (max-width: 480px) {
    .wayfinding {
        padding-left: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    .wayfinding a:not(.home) {
        display: none;        
    }
}


/* Cart Module Styling */

.cart-container h1, .cart-container h2 {
    margin: 0;
    font-size: 2em;
}


/* Carts Items */

.cart-container {
    margin: 50px 170px;
}

.cart-item {
    border-bottom: 1px solid #d6d6d6;
}

.cart-item * {
    text-decoration: none;
}

.cart-item .item-name {
    line-height: 22px;
    font-size: 1.5em;
}

.cart-item .price {
    line-height: 17px;
    text-align: right;
}

.cart-item .remove, .cart-item .modify, .cart-item i {
    color: #9b9b9b;
}

.cart-item .remove:hover, .cart-item .modify:hover, .cart-item .remove:focus, .cart-item .modify:focus {
    color: #071013;
}

/* Cart Summary */

.order-price-summary {
    height: 253px;
}

.subtotal, .est-shipping, .taxes, .total, .order-price-summary .checkout-btn {
    font-size: 1em;
}

.order-price-summary .total-price, .order-price-summary .myTotal {
    border-top: 1px solid #D6D6D6;
}

.horizontal-order-summary .checkout-btn {
   width: 340px;
   height: 66px;
   background: #709775;
   border-radius: 28px;
   border: none;
   color: white;
}

.horizontal-order-summary .checkout-btn:hover, .horizontal-order-summary .checkout-btn:focus, .horizontal-order-summary .checkout-btn:active {
    background: #1A281F;
}

@media screen and (max-width: 480px) {
    /* Cart Module Styling */

    .cart-container {
        margin: 0 20px;
    }

    .cart-container h1 {
        margin-top: 0.5em;
        margin-bottom: .5em;
        font-size: 1.5em;
    }

    /* Carts Items */


    .cart-item {
        border-bottom: 1px solid #d6d6d6;
    }

    .cart-item * {
        text-decoration: none;
    }

    .cart-item .item-name {
        line-height: 22px;
        font-size: 1.2em;
    }

    .cart-item .remove, .cart-item .modify, .cart-item i {
        font-size: 1em;
        color: #9b9b9b;
    }

    .cart-item .remove:hover, .cart-item .modify:hover, .cart-item .remove:focus, .cart-item .modify:focus {
        color: #071013;
    }

    /* Cart Summary */

    .order-price-summary {
        margin-top: .7em;
        font-weight: 500;
    }

    .subtotal, .est-shipping, .taxes, .total, .order-price-summary .checkout-btn {
        font-size: 1em;
    }

    .order-price-summary button {
    top: 187px;
    width: 323px;
    height: 66px;
    background: #709775;
    border-radius: 28px;
    border: none;
    color: white;
    }

    .order-price-summary button:hover, .order-price-summary button:focus {
        background: #313131;
    }
}

/* Filters Section */

.filters {
    border-right: 1px solid #828282;
}

.filters h2, .filters h3 {
    text-align: right;
    margin-right: 1.5em;
}

.filters h2 {
    margin-top: 5.5em;
}

.filters h3 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.filters h3:hover, .filters h3:active, .filters h3:focus {
    text-decoration: underline;
}

/* Multiple Product Listings Styling */

/*Banner Section */
.banner-container {
    position: relative;
    width: 100%;
}

.banner-container .image {
    opacity: .5;
    width: 100%;
}

.banner-container .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.banner-container h1 {
    font-size: 3em;
    letter-spacing: 0.1875em;
}

.product-listings h1 {
    display: none;
    margin-left: 2.23em;
    font-weight: 700;
    text-align: left;
}

.product-listings .display .sub-container {
    margin-top: 2em;
}

.listing-image-placeholder {
    width: 233px;
    height: 233px;
    background: #C4C4C4;
}

.product-listings .flex-col .thumbnail {
    margin-left: auto;
    margin-right: auto;
}

.product-listings .flex-col p {
    text-align: center;
}


.image {
    opacity: 1;
    transition: 0.5s ease;
}

.product-listings .flex-col .thumbnail:hover .image {
    opacity: .5;
}


@media screen and (max-width: 480px) {
    .banner-container h1 {
        display: none;
    }

    .product-listings h1 {
        display: block;
        text-align: center;
        letter-spacing: 0.1875em;
        margin-left: 0;
    }

    .filters .sticky {
        position: static;
    }

    .filters h2, .filters h3 {
        text-align: left;
        margin-top: 1em;
    }

    .filters h3, .filters h2 {
        margin-left: 1em;
    }

    .product-listings .sub-container {
        margin-left: 25%;
        margin-right: 20%;
    }

    .product-listings .flex-col {
        align-items: center;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .product-listings .flex-col img {
        border: .1px solid #c4c4c4;
    }

    .product-listings .flex-col p {
        text-align: left;
    }
}

@media screen and (max-width: 1024px) {
    .product-listings .filters {
        display: none;
    }
}

/* Address Information Page Styling */
.shipping-billing h1{
    text-align: left;
}

.shipping-billing-form {
    margin-left: 9.3125em;
    margin-right: 2em;
    padding-bottom: 3em;
}

/* Address Form Styling */
.shipping-information h2 {
    margin-top: .5em;
}

.shipping-information .col-two a {
    text-decoration: none;
    color: #898989;
}

.submission .col-one a {
    color: #f2f2f2;
}

.shipping-information button, .vertical-order-summary button {
    padding: 1em;
    border: none;
    box-shadow: none;
    margin-left: 2em;
}

.shipping-information button:hover, .shipping-information button:focus, .shipping-information button:active {
    background-color: #345F39;
}

.vertical-order-summary {
    background: #C4D4C6;
    padding: 3em;
}

@media screen and (max-width:480px) {
    .shipping-billing-form {
        margin-left: 2em;
    }
    
    .shipping-information .block-form input {
        width: auto;
    }

    .shipping-information .submission .col-one a {
        font-size: .8em;
    }

    .vertical-order-summary {
        padding: 1em;
        padding-right: 2em;
    }
}

/* Shipping Method */

.shipping-method .selection-form {
    margin-left: 15em;
}

.shipping-method h1 {
    text-align: left;
}

.shipping-method form {
    margin-bottom: 3em;
}

.shipping-method fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.shipping-option {
    position: relative;
    width: 65%;
    height: 100px;
    background: #C4D4C6;
    border: 1px solid #999999;
    border-radius: 11px;
    margin: 1em 0;
    margin-left: 0;
    cursor: pointer;
}

.shipping-option *{
    position: absolute;
    cursor: pointer;
}

.shipping-option input {
    left: 18px;
    top: 41px;
}

.shipping-option label {
    text-indent: 71px;
    width: 100%;
    line-height: 97px;
}

.shipping-option p {
    left: 300px;
    top: 34px;
}

.shipping-method button {
    top: 187px;
    width: 214px;
    height: 55px;
    background: #709775;
    border-radius: 28px;
    border: none;
    color: white;
    margin-left: 1.5em;
}

.shipping-method a {
    text-decoration: none;
    color: #898989;
}

.shipping-method .submission .col-one a {
    color: #f2f2f2;
}

.shipping-option:hover, .shipping-option:focus, .shipping-option:active {
    background: #345F39;
    color: #FFFFFF;
}

.shipping-method button:hover, .shipping-method button:focus {
    background: #345F39;
}

.shipping-method button:active {
    background-color: #1A281F;
}

.shipping-method a:hover, .shipping-method a:focus, .shipping-method a:active {
    color: #1A281F;
}

@media screen and (max-width:480px) {
    .shipping-method .selection-form {
        margin-left: .5em;
        margin-right: .5em;
    }
    
    .shipping-option {
        width: 100%;
    }
}

/* Account Styling */

#account-header {
    text-align: center;
    font-size: 2em;
}

.orders h2 {
    text-align: left;
    font-size: 1.5em;
}

.account-summary .order-item p {
    font-size: 1em;
}

.account-summary .order-item a {
    text-decoration: underline;
    font-weight: 600;
    color: #1A281F;
}

.account-summary .order-item a:hover, .account-summary .order-item a:focus, .account-summary .order-item a:active {
    text-decoration: none;
}

.item:hover {
    border-bottom: 0.25rem solid #345F39;
}

.fab {
    display: inline-block;
    margin: 2rem;
    color: #FFFFFF;
}

.button-style {
    border: none;
    text-decoration: none;
    font-weight: 600;
    padding: 0.85rem 3rem;
    background-color: #709775;
    color: #f2f2f2;
    border-radius: 2rem;
    cursor: pointer;
}

.button-style:hover, .button-style:active, .button-style:focus {
    background-color: #345F39;
}
/* User Info Styling */

.account-summary .user-info h2 {
    font-size: 1.5em;
}

.account-summary .user-info p {
    font-size: 1em;
}

.account-summary button {
    width: 214px;
    height: 55px;
    background: #709775;
    border-radius: 28px;
    border: none;
    color: white;
}

.account-summary button:hover, .account-summary button:focus {
    background: #345F39;
}

.account-summary button:active {
    background: #1A281F;
}

@media screen and (max-width: 480px) {
    #account-header {
        text-align: left;
    }
}

/* Order Confirmation */

.order-confirmation-module {
    background: #C4D4C6;
    margin: 0 10em;
    padding: 0 20em;
    padding-bottom: 4em;
}

.order-confirmation-module h1 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 1.25em;
    padding-top: 3em;

}

.order-confirmation-module .shopper-info {
    margin-bottom: 2.4375em;
}

.order-confirmation-module .shopper-info p {
    margin: .3em 0;
}

.order-confirmation-module .order-info {
    margin-bottom: 1.5em;
}

.order-confirmation-module .order-item .item-name {
    font-size: 1.5em;
    color: #345F39;
}

.order-confirmation-module .order-info * {
    margin-bottom: .75em;
}

.order-confirmation-module .order-item {
    margin-bottom: 1em;
}

.order-confirmation-module .return-button {
    float: right;
    color: #494949;
    font-size: 2em;
}

.order-confirmation-module .return-button a {
    text-decoration: none;
    color: #494949;
}

.order-confirmation-module .return-button:hover,
.order-confirmation-module .return-button a:hover, 
.order-confirmation-module .return-button:focus,
.order-confirmation-module .return-button a:focus,
.order-confirmation-module .return-button a:active,
.order-confirmation-module .return-button:active {
    color: #1A281F;
}

@media screen and (max-width: 1366px) and (min-width: 481px) {
    .order-confirmation-module {
        padding: 0 8.5em;
        padding-bottom: 4em;
    }

    .order-confirmation-module h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 480px) {
    .order-confirmation-module {
        margin: 0;
        padding: 0 5em;
        padding-bottom: 4em;
    }

    .order-confirmation-module h1 {
        font-size: 1.5em;
    }
    
    .order-confirmation-module p {
        font-size: .8em;
    }

    .order-confirmation-module .return-button {
        font-size: 1em;
    }

    .order-confirmation-module .order-item .item-name, .order-confirmation-module .order-item .item-details {
        display: inline;
    }

    .order-confirmation-module .order-item .item-name {
        font-size: 1.2em;
        color: #345F39;
    }

    .order-confirmation-module .order-item .item-details {
        left: 75px;
    }
}

/* HOME SECTION
.home-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

} */

/* Hero Image Tutorial from W3Schools*/
.home-hero-image {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("hero-image-resized");*/
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-hero-image img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 480px) {
    .home-hero-image {
        min-height: 50%;
    }
}

.home-advertise-item {
    text-align: center;
    position: absolute;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-advertise-item button {
    border: 0.1rem solid white;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .page-header hero-header {
        font-size: 1rem;
    }

    /*.home-advertise-item button {
        size: 30%;
    } */
}

.home-body-item {
    padding: 2rem;
    max-width: 50rem;
    margin-bottom: 2rem;
}

.hero-image {
    object-fit: cover;
}

/* ABOUT SECTION */
.about-body-content {
    max-width: 50rem;
    background-color: #709775;
    margin-top: -3rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
    .about-body-content {
        margin: 0.5rem;
    }
}

.home-body-item .home-icon {
    text-align: center;
}

/*DETAILED PRODUCT SECTION */
.detailed-product-container {
    background-color: white;
}

.detailed-product-image {
    margin: 2rem;
}

.detailed-product-description {
    margin: 2rem;
    max-width: 35rem;
}

.product {
    margin-bottom: 1rem;
}

.product-price {
    font-size: 2rem;
}

.product-info-list {
    list-style-position: inside;
}

.detailed-product-description {
    margin-bottom: 30rem;
}

.product-reviews fa-angle-down {
    float: right;
}

.dropdown-toggle {
    border-bottom: 0.1rem solid #709775;
    padding: 1rem;
    cursor: pointer;
}

.dropdown-toggle:focus {
    outline: #ffffff;
}

.dropdown-box {
    display: none;
    height: 20rem;
}

.product-reviews input:checked ~ .dropdown-box {
    display: block;
}

/* SERVICES SECTION */
.services-banner-image img{
    width: 100%;
}

.services-body-container {
    margin: 0rem;
    padding: 2rem;
}

.services-body-item {
    max-width: 50rem;
    background-color: #709775;
    padding: 2rem;
}

.services-form-container {
    max-width: 50rem;
    padding: 2rem;
}

.services-assembly-info {
    max-width: 60rem;
    margin-bottom: 2rem;
}

.services-list {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

textarea {
    resize: none;
    padding: 0.5rem;
}

@media screen and (max-width: 480px) {
    .services-form-container{
        width: 100%;
        margin-top: 2rem;
        padding: 0rem;
    }

    .services-form-container button {
        width: 100%;
    }
}

.services-submit-button {
    float: right;
}

/* CONTACT US SECTION */
input[type=text] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

input[type=text]:focus, textarea {
    outline: 0.1rem solid #709775;
}

.contact-us-body-container {
    margin: 3rem 0rem;
}

/*can merge these styles to reduce clutter*/
.contact-us-submit-button {
    float: right;
}

/* FOOTER SECTION */
.footer-container {
    background-color: #1A281F;
    margin: 0;
    padding: 4rem;
    color: #FFFFFF;
}

.footer-site-name {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-header {
    font-weight: 600;
    color: #709775;
}

.footer-body-text {
    margin-bottom: 0.5rem;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu-item {
    color: #345F39;
}

.footer-menu-item:hover, .footer-menu-item:active, .footer-menu-item:focus {
    color: #FFFFFF;
}

.footer-box {
    margin: 0rem 3rem;
}

.social-media-icons {
    margin: 1rem;
}

@media screen and (max-width: 480px) {
    .footer-box {
        margin: 0rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1366px) and (min-width: 480px) {
    .footer-box {
        margin: 0rem 1rem;
    }
}

.account-summary .order-item {
    font-size: 1.2em;
}

/* User Info Styling */

.account-summary .user-info h2 {
    font-size: 1.4em;
}

.account-summary .user-info p {
    font-size: 1.2em;
}

.account-summary .user-info .name {
    margin-bottom: 2em;
}

.account-summary .user-info .country {
    margin-bottom: 1.5625em;
}

.account-summary button {
    top: 187px;
    width: 214px;
    height: 55px;
    background: #709775;
    border-radius: 28px;
    border: none;
    color: white;
}

.account-summary button:hover, .account-summary button:focus {
    background: #345F39;
}

.account-summary button:active {
    background: #1A281F;
}

/* Payment */

.payment .payment-outter button:hover, .payment .payment-outter button:focus {
    background: #345F39;
}

.payment .payment-outter button:active {
    background: #1A281F;
}

.payment .payment-outter button {
    margin-left: auto;
}

.payment i{
    color: #1A281F;
    margin: 0px;
    margin-right: 10px;
}

.payment .col-two a {
    text-decoration: none;
    color: #898989;
}

.submission .col-two a:hover, .payment .col-two a:focus, .payment .col-two a:active {
    color: #1A281F;
}

@media screen and (max-width:480px) {
    .payment i{
        margin-right: 10px;
    }
}